Xft.dpi: 132

dwm.normbordercolor: #24273a
dwm.normbgcolor: #24273a
dwm.normfgcolor: #cad3f5
dwm.selbordercolor: #cad3f5
dwm.selbgcolor: #cad3f5
dwm.selfgcolor: #24273a

dmenu.background: #24273a
dmenu.foreground: #cad3f5
dmenu.selbackground: #cad3f5
dmenu.selforeground: #24273a

tabbed.normbgcolor: #24273a
tabbed.normfgcolor: #cad3f5
tabbed.selbgcolor: #cad3f5
tabbed.selfgcolor: #24273a
tabbed.urgbgcolor: #ff0000
tabbed.urgfgcolor: #00ff00

st.color0: #494d64
st.color1: #ed8796
st.color2: #a6da95
st.color3: #eed49f
st.color4: #8aadf4
st.color5: #f5bd36
st.color6: #8bd5ca
st.color7: #b8c0e0
st.color8: #5b6078
st.color9: #ed8796
st.color10: #a6da95
st.color11: #eed49f
st.color12: #8aadf4
st.color13: #f5bde6
st.color14: #8bd5ca
st.color15: #a5adcb
st.background: #24273a
st.foreground: #cad3f5
